<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Créer un Compte</title>
</head>
<body>
    <header>
        <h1>Gestion d'Offres Mobiles 5G</h1>
        <nav>
            <%- include("navbar") -%>
        </nav>
    </header>
    <section id="creer-compte">
        <h2>Créer un Compte</h2>
        <form action="/seconnecter" method="POST">
            <input type="text" name="last_name" placeholder="Nom" required>
            <input type="text" name="first_name" placeholder="Prénom" required>
            <input type="text" name="identity_number" placeholder="Numéro d'identité" required>
            <input type="date" name="birth_date" required>
            <input type="text" name="address" placeholder="Adresse postale" required>
            <input type="email" name="email" placeholder="Email" required>
            <button type="submit">Créer le compte</button>
        </form>
    </section>

</body>
<%- include("footer") -%>
</html>